html{
	background-image: url("../img/fundo.jpg");
}
#logo{
	width: 10%;
	margin-left:45%;
	
}
h1{
	text-align: center;
}
.cifrao{
	margin-left: 55%;
	font-weight: bold;
	font-size: 130%;
}
.valorTotal{
	
	font-weight: bold;
	font-size: 300%;
}
.labels{
	font-weight: bold;
}
.aviso{
	
	font-weight: bold;
	margin-left: 40%;
	font-size: 150%;
	color:#4e0e25
}
